article .shiftand {
    overflow: visible;
    max-width: 720px;
    margin: 0 auto;
}
article .shiftand form {
    background: #eee;
    padding: 10px 0 20px;
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
}
article .shiftand h5 {
    font-size: 11px;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #888;
    margin: 0;
    padding: 10px 0 5px;
}
article label, article input, article textarea {    
    margin: 5px 10px;
    padding: 0.3em;
    text-align: left;
    font-family: Arial, sans-serif;
}

article label {
    display: block;
    padding: 0.3em 1em;
    width: 88%;
    margin: 0 4%;
}
article input, article textarea {
    padding: 0.3em;
    width: 88%;
    margin: 0 4%;
    font-size: 14px;
    line-height: 18px;
}
article input[type=submit] {
    background: #444;
    color: #fff;
    margin-top: 5px;
    padding: 10px 0 8px 0;
    width: 90%;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 0;
    text-align: center;
}
article input[type=submit]:focus {
    background: #41983d;
    color: #fff;
    outline: none;
}
article .shiftand div {
    margin: 10px;
}
article #vis_container {
}
article span.outer {
    display: inline-block;
    width: 1.6em;
    text-align: center;
}
article span.inner {
    margin: 0.1em;
    border: 1px solid #ddd;
    padding: 0.1em 0;
    display: block;
}

article .table, article pre {
    font-family: monospace;
}
article .table span {
    display: inline-block;
    margin-right: 0.4em;
    border: 1px solid #ddd;
    padding: 0.1em 0;
    width: 1.6em;
    text-align: center;
}
article #text_blocks {
    width: auto;
    height: auto;
    overflow: visible;
    padding-top: 10px;
    max-width: 720px;
}
article #the-haystack {
    position: relative;
}
article #the-needle {
    position: relative;
}
article #bitrun {
    width: auto;
    overflow: auto;
    padding-top: 10px;
}
article #bitrun ul {
    margin: 0;
    padding: 0;
}
article #bitmask {
    float: left;
    width: 45%;
    min-width: 30%;
    max-width: 50%;
    margin-right: 30px;
    font-size: 14px;
}
article #match-run {
    float: left;
    width: 45%;
    font-size: 14px;
}

article #text_blocks {
}

article .shiftand ul {
    list-style-type: none;
}

article .shiftand li {
    margin: 6px 1px;
    font-size: 14px;
}

article .shiftand li span {
    margin-right:0;
}
article .shiftand .hidden {
    display: none;
}