---
layout: default
title: Alvaro Videla - RabbitMQ Internal Architecture
---

<article id="home">
  <h2>RabbitMQ Internal Architecture</h2>
  <p>
    The following are a series of blogposts discussing the internal architecture of RabbitMQ.
  </p>
  <ul class="homelist posts">
      {% for related in site.posts %}
        {% if page.id != related.id and related.category == "rabbitmq-internals" %}
          <li><span>{{ related.date | date_to_string }}</span> <a href="{{related.url}}">{{related.title}}</a></li>
        {% endif %}
      {% endfor %}
  </ul>
</article>